html{
    font-size: 10px;
    font-family: 'Inconsolata', monoespaçada;
    background-color: rgb(31, 34, 39);
}

h1{
    font-size: 70px;
    text-align: center;
    margin:0;
    padding: 30px;
    color: gold;
}

h2{
    font-size: 30px;
    text-align: center;
    margin: 0;
    padding: 20;
    color: whitesmoke;
}

body{
    margin: 50px auto;
    padding: 0 20px 20px 20px;
    text-align: center;
}

table{
    margin: 30px auto;
}

td{
    padding-bottom: 10px;
    padding-left: 5px;
    text-align: justify;
}

label{
    font-size: 20px;
    color: whitesmoke;
}

input{
    font-size: 20px;
    width: 150px;
}

button{
    width: 150px;
    font-size: 20px;    
}

.resposta{
    font-size: 30px;
    color: gold;
    text-align: center;
    margin: 20px auto;
    padding-left: 150px;
    padding-right: 150px;
    word-break: break-all
}

.icone{
    width: 30px;
    height: 30px;
}   

.fita{
    height: 125px;
}
